/* E51F22 */


.button {
    position: relative;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    width: 90%;
    min-width: 140px;
    max-width: 300px;
    padding: 5px 1px;
    border-radius: 5px;

    transition-duration: .5s;
}

.buttonPrimary {
    color: white;
    background-color: #E51F22;
    border: 2px solid #E51F22;
}

.buttonPrimary:hover {
    color: #E51F22;
    background-color: #00000000;
    border: 2px solid #E51F22;

}

.buttonSecondary {
    color: #205054;
    background-color: #ffffff;
    border: 2px solid #ffffff3c;
}

.buttonSecondary:hover {
    color: white;
    background-color: transparent;
    border: 2px solid #ffffff;
}

.buttonSuccess {
    color: #ffffff;
    background-color: #3FC500;
    border: 2px solid #ffffff3c;
}

.buttonSuccess:hover {
    color: #3FC500;
    background-color: #00000000;
    border: 2px solid #3FC500;
}


@keyframes animationRed {
    0% {
        background-color: #2f2f2f;
        color: transparent
    }

    20% {
        background-color: #000000;
        color: red
    }

    80% {
        background-color: #000000;
        color: red
    }

    100% {
        background-color: #2f2f2f;
        color: transparent
    }
}

@keyframes animationGreen {
    0% {
        background-color: #2f2f2f;
        color: transparent
    }

    20% {
        background-color: #000000;
        color: #1eff00;
    }

    80% {
        background-color: #000000;
        color: #1eff00;
    }

    100% {
        background-color: #2f2f2f;
        color: transparent
    }
}