.style {
    position: absolute;
    height: 100vh;
    width: 100vw;
}
.style > :nth-child(n){
    position: absolute;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: black;
}